mat-list{
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 10px;
}
button{
    padding: 0px;
    margin-right: 2px;
    background-color: #f5f6f7;
    border-color: #ccd0d5;
    color: #4b4f56;
}